.blogs-card{
  width: 80%;
  height:600px;
  margin:30px 0px 0px 100px;
  background-color: antiquewhite;
}

.blogs-content{
  height: 200px;
  text-align: center;
padding: 50px 0px 0px 0px;
}

h1{
  text-align: center;
  color: rgb(182, 109, 182)
}